body {
  font-size: 16px;
}

h1 {
  font-size: 1.5rem;
}

.title {
  color: #00f;
}

.avatar img {
  border-radius: 50%;
}

.margin {
  margin: 1rem;
}

.border {
  border-width: 6px;
  border-style: solid;
  border-color: #aaa;
}

.padding {
  padding: 10px;
}
